  <div class="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">EpicMind</a>
        <li class="text-white nav-link active" id="userName"></li>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="/arithmetic">| Arithmetic |</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/attempts">| Results |</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/attempts/highscore">| All Time Highscore |</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/attempts/monthly-highscore">| Monthly Highscore |</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="/login">Login</a>
            </li>
          </ul>
        </div>
        </div>
      </div>
    </nav>