  <div class="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <!-- <a class="navbar-brand" href="/">EpicMind</a> -->
        <!-- <a class="navbar-brand" href="/" style="height: 40px; width: 40px; background-color: white; border-radius: 50%;"><img src="/images/epicmind_navbar_edited.png" style="position: relative; height: auto; width: 100%; bottom: 2px;"></a> -->
        <!-- <a class="navbar-brand" href="/" style="background-image: url(/images/epicmind_navbar_edited.png); height: 40px; width: 40px; background-color: white; border-radius: 50%;"></a> -->
        <a class="navbar-brand" href="/" style="background-image: url(/images/epicmind_navbar_edited.png);
        background-color: white; border-radius: 50%;
        width: 40px;
        height: 40px;
        background-position: center;
        background-repeat: no-repeat;"></a>
          <% if (currentUser.username) { %>
            <li class="text-info nav-link active" id="userName">
               <%= currentUser.username %>
            </li>
          <% } %>
        

       
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-additional">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mx-4" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Mathematics
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item" href="/arithmetic"> 🧮 Arithmetic </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/attempts/highscore" target="_blank">🏆 All Time Highscore</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/attempts/monthly-highscore" target="_blank">🏆 Monthly Highscore</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/user/recommend/<%= currentUser.username %>"target="_blank">🔥 Recommendation</a>
                  </li>
                </ul>
            </li>
        <!-- </ul> -->
        <% if (currentUser.subject) { %>
          <% if (currentUser.admin || currentUser.subject.includes("Primary Science")) { %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle mx-4" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Science
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="/science/topics"> 🧮 Topics </a>
                </li>
                <li>
                  <a class="dropdown-item" href="/science/questions/extrapractice"> 🧮  More Practice </a>
                </li>
                <% if (currentUser.admin) { %>    
                <li>
                  <a class="dropdown-item" href="/science"> 🧮 All Questions </a>
                </li>
                <li>
                  <a class="dropdown-item" href="/science/new"> 🧮 Post Question </a>
                </li>
                 <% } %>
                </ul>
              </li>
          <% }%>
        <% } %>
   
        <!-- OUTSIDE -->
        <li class="nav-item"style="width: 110px">
          <a class="nav-link active" href="/attempts"target="_blank">✨ Results</a>
        </li>
        <li class="nav-item"style="width: 110px">
          <a class="nav-link active" href="/user/points/rewards"target="_blank">🥂 Rewards</a>
        </li>
        <li class="nav-item" style="width: 110px">
          <a class="nav-link active" href="/user/points" target="_blank">🥕 Points</a>
        </li>
   
      </ul>
     
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item"> 
              <% if (currentUser.points) { %>
                <a href="/user/points/rewards" class="<% if (currentUser.freeze) { %>
                 text-primary 
              <% } else { %>
                text-warning
              <% } %> 
              nav-link active">[Points: <%= currentUser.points %>]</a>
              <% } %>
              </li>
              <% if (currentUser.admin) { %>
                <div class="dropdown menu">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown">
                    Admin
                  </button>
                  <ul class="dropdown-menu submenu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="/homework/new">Create Homework</a></li>
                    <li><a class="dropdown-item" href="/user">Users</a></li>
                    <li><a class="dropdown-item" href="/user/points/rewards/new">+Rewards</a></li>
                    <li><a class="dropdown-item dropdown-toggle" href="#">Lessons</a>
                      <ul class="submenu2 dropdown-menu ps-3" >
                        <li><a class="dropdown-item" href="/lesson/new">New</a></li>
                        <li><a class="dropdown-item" href="/lesson">View</a></li>
                      </ul>
                    </li>
                    <li><a class="dropdown-item dropdown-toggle" href="#">Trial</a>
                      <ul class="submenu2 dropdown-menu ps-3" >
                        <li><a class="dropdown-item" href="/trial/signup/options">Sign up</a></li>
                        <li><a class="dropdown-item" href="/trial">View</a></li>
                      </ul>
                    </li>
                    <li><a class="dropdown-item dropdown-toggle" href="#">Exam Paper</a>
                      <ul class="submenu3 dropdown-menu ps-3" >
                        <li><a class="dropdown-item" href="/exam/new">New</a></li>
                        <li><a class="dropdown-item" href="/exam/list">List</a></li>
                        <li><a class="dropdown-item" href="/exam/table">Table</a></li>
                      </ul>
                    </li>
                    <li><a class="dropdown-item dropdown-toggle" href="#">Interventions</a>
                      <ul class="submenu4 dropdown-menu ps-3" >
                        <li><a class="dropdown-item" href="/intervention/create">New</a></li>
                        <li><a class="dropdown-item" href="/intervention">All</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <% } %>

            <li class="nav-item">
              <a class="nav-link active" href="/user/summary">Summary</a>
             </li>
            <li class="nav-item">
             
              <% if (authenticate.login) { %>
                <a class="text-danger nav-link active" href="/user/logout">Logout</a>
              <% } else { %>
                <a class="text-success nav-link active" href="/user/login">Login</a>
              <% } %>
            </li>
            <li class="nav-item">
              <% if (authenticate.login) { %>
                <a class="nav-link active" href="/user/edit/<%= currentUser._id %>">⚙️</a>
              <% } %>
            </li>    
          </ul>
        </div>
        </div>
      </div>
    </nav>