* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: roboto;
}

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

#prompt-box {
  z-index: 999;
  background-color: white;
  position: absolute;
  width: 400px;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  border: solid 1px;
}
#epicmind {
  background-color: black;
  color: orange;
  padding: 5px;
}

.hidden {
  display: none !important;
}

#calculator {
  /* margin-left: auto;
  margin-right: auto; */
  text-align: center;
  color: greenyellow;
  font-size: 1.5em;
}

.instructions {
  font-size: 1em;
  /* color: black; */
}

.instructions-box {
  text-align: left;
  background-color: white;
  position: absolute;
  overflow: auto;
  /* top: 1; */
  max-width: 400px;
  height: 95%;
  max-height: 95%;
  /* height: auto; */
  border: solid 2px;
  z-index: 10;
  padding: 10px 10px;
}

.overlay {
  position: absolute;
  top: 1;
  /* left: 1; */
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.level-setting {
  position: absolute;
  margin: 0;
  top: 8%;
  height: 90vh;
  /* max-height: 100%; */
  width: auto;
  border-radius: 10px;
  background-color: white;
  z-index: 9;
  text-align: center;
  border-style: solid;
  overflow: auto;
  /* display: inline-block; */
}

.multiples-setting {
  position: absolute;
  margin: auto;
  top: 31%;
  height: 400px;
  width: 400px;
  border-radius: 10px;
  background-color: yellow;
  z-index: 10;
  text-align: center;
  border-style: solid;
}
.attempt-number {
  position: absolute;
  font-size: 6em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}
.level-setting .btn,
.multiples-setting .btn {
  margin: 5px 0;
}
.summary-setting {
  display: inline-block;
}

/* .summary-grid-box {
  display: inline-flexbox;
  flex-direction: row;
} */

/* .summary-item-right {
  text-align: right;
}
.summary-item-left {
  text-align: left;
} */

.summary-status {
  -webkit-text-stroke: 1px grey;
}
.extra-practice {
  margin-right: 10px;
}

.btn-summary {
  background-color: black;
  color: greenyellow;
  padding: 5px;
  margin-left: 5px;
}

.summary-container {
  z-index: 999;
  position: absolute;
  margin: auto;
  top: 2%;
  /* max-height: 100%; */
  max-width: 95%;
  height: 95%;
  width: 500px;
  border-radius: 10px;
  background-color: white;
  text-align: left;
  border-style: solid;
  overflow: auto;
  padding-left: 10px;
}

table {
  margin-top: 2%;
}

.start-box {
  position: absolute;
  margin: auto;
  top: 21%;
  height: 500px;
  width: 400px;
  border-radius: 10px;
  background-color: white;
  z-index: 9;
  text-align: center;
  border-style: solid;
}
.start-text {
  position: relative;
  top: 5%;
  font-size: 1.5em;
}
.start-button {
  position: absolute;
  top: 75%;
  font-size: 25px;
  width: 80%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.back-button {
  position: absolute;
  top: 90%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.countDownTimer {
  position: absolute;
  margin: auto;
  z-index: 10;
  font-size: 500px;
}

.finalBox {
  position: absolute;
  margin: auto;
  top: 31%;
  height: auto;
  width: 400px;
  border-radius: 10px;
  background-color: white;
  z-index: 9;
  text-align: center;
  border-style: solid;
  overflow: auto;
}
/* .finalTextBox {
  position: relative;
  top: 5%;
  font-size: 2em;
} */
.finalTextBox {
  position: relative;
  top: 5%;
  font-size: 1em;
}

.main-container {
  position: static;
  width: 100%;
  height: 100vh;
  background: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.optionsBox {
  text-align: left;
  position: absolute;
  margin: auto;
  padding-bottom: 2%;
  top: 6%;
  left: 5%;
  height: auto;
  max-width: 400px;
  max-height: 95%;
  width: auto;
  border-radius: 10px;
  background-color: whitesmoke;
  z-index: 9;
  border-style: solid;
  overflow: auto;
}

.title-box {
  margin-bottom: 25px;
  text-align: center;
}

.main-box {
  width: 400px;
  height: 400px;
  background: skyblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  overflow: auto;
}

.score-board {
  width: 100%;
  margin-top: 5%;
}

table {
  width: 100%;
  text-align: center;
}

.heading {
  font-size: 15px;
}

#current-score,
#current-mistake,
#timer,
#questionTimer {
  font-size: 25px;
  font-weight: 600;
}

.display-problems {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  margin: 30px 0;
  letter-spacing: 2px;
}

#help {
  z-index: 999;
  position: absolute;
  margin: auto;
  top: 33.3%;
  /* max-height: 100%; */
  max-width: 95%;
  /* height: 95%; */
  height: auto;
  width: 500px;
  border-radius: 10px;
  background-color: white;
  text-align: left;
  border-style: solid;
  overflow: auto;
  /* padding-left: 10px; */
  padding: 10px;
}
.help-btn {
  color: red;
  /* border-radius: 50%; */
  font-size: 20px;
  margin-right: 5px;
  margin-top: 5px;
}

.help-me-text {
  text-align: center;
  font-size: 30px;
  margin: 20px 0 0;
}

.display-problems-two {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  margin: 0 25px 15px;
  letter-spacing: 2px;
}
.line,
.lineFrac {
  width: 70px;
  height: 0;
  border-bottom: 5px solid black;
}
.simple-fraction-whole-number {
  font-size: 60px;
}

.constant-tilt-shake {
  animation: tilt-shaking 0.3s infinite;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.fraction-choice,
.help-me-text {
  text-align: center;
  font-size: 2em;
  color: grey;
  margin: 0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.center {
  text-align: center;
}
.working {
  font-size: 1.5em;
  /* position: relative; */
  margin-bottom: 40px;
  letter-spacing: 5px;
  min-height: 120px;
}

.working td {
  text-align: right;
}

.workingAnswer {
  border-top: solid;
}

.input-box {
  position: relative;
  height: 50px;
  width: 175px;
  font-size: 45px;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* padding-bottom: 0; */
}

#skipBtn {
  margin: 2% 0;
}

.specialBorder {
  border-style: solid 1px;
  border-color: black;
}

button {
  margin: auto;
  display: block;
}

.instructions {
  font-size: 1.5em;
  font-weight: 900;
}

.animate-right {
  color: limegreen;
  transform: scale(1.5);
}

.animate-wrong {
  color: red;
  transform: scale(1.5);
}

.animate-wrong-container {
  background-color: red;
}

.mistakesCount {
  color: red;
  font-weight: strong;
}

.secondUnitMeasurement {
  position: relative;
  font-weight: bold;
  font-size: 40px;
  bottom: 50px;
}

.settingButton {
  width: 100px;
}
.btn-close {
  position: sticky;
  /* left: 50%; */
  opacity: 50%;
  bottom: 1%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn-average {
  background-color: #7d0ff1;
}

.btn-percentage {
  background-color: orange;
}

.btn-geometry {
  background-color: olive;
}

.btn-time {
  background-color: #f6ff33;
}

.btn-angle {
  background-color: #40e0d0;
}

.btn-algebra {
  background-color: #b533ff;
}

.btn-speed {
  background-color: #acff33;
}

.btn-select {
  border-style: solid;
  border-width: 2px;
  border-color: purple;
}

.btn-heu {
  background-color: #512e5f;
  color: #f1c40f;
  border-color: #f1c40f;
  border: solid 2px;
}

.btn-heu:hover {
  background-color: #f1c40f;
  color: #512e5f;
  border-color: #512e5f;
}

.btn-cal {
  background-color: #acadbc;
  color: #000500;
  border-color: #6665dd;
}

.btn-pictograph {
  background-color: #de64f7;
  color: #000500;
}
.btn-cal:hover {
  background-color: #6665dd;
  color: #000500;
  border-color: #acadbc;
  border: solid 2px;
}

.submit2 {
  display: flex;
  align-items: center;
  margin-top: 2%;
}

.submitBoxone {
  display: inline-block;
  vertical-align: top;
}

.fa-reveal {
  color: red;
}

img {
  height: 100px;
}

#canvas1 {
  position: relative;
}

.loader {
  position: relative;
  /* top: 0;
  left: 0; */
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  z-index: 10;
  /* transition: opacity 0.75s, visibility 0.75s; */
}
/* FOR FRACTIONS */
.frac {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  letter-spacing: 0.001em;
  text-align: center;
}
.frac > span {
  display: block;
  padding: 0.1em;
}
.frac span.bottom {
  border-top: thin solid black;
}
.frac span.symbol {
  display: none;
}

.ring {
  width: 200px;
  height: 200px;
  border: 0px solid black;
  border-radius: 50%;
  position: absolute;
}

.ring:nth-child(1) {
  border-bottom-width: 8px;
  border-color: rgb(255, 0, 255);
  animation: rotate1 2s linear infinite;
}

.ring:nth-child(2) {
  border-right-width: 8px;
  border-color: rgb(0, 247, 255);
  animation: rotate2 2s linear infinite;
}
.ring:nth-child(3) {
  border-top-width: 8px;
  border-color: rgb(0, 255, 13);
  animation: rotate3 2s linear infinite;
}

@keyframes rotate1 {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes rotate3 {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

.loading {
  color: white;
}

/* .loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #009578;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
} */

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

@media (max-width: 900px) {
  .level-setting {
    width: auto;
    position: static;
  }
  .working {
    margin-bottom: 70px;
  }
}
