.hidden {
  display: none;
}

.summary {
  z-index: 999;
  position: absolute;
  margin: auto;
  top: 2%;
  /* max-height: 100%; */
  max-width: 95%;
  height: 95%;
  width: 500px;
  border-radius: 10px;
  background-color: white;
  text-align: left;
  border-style: solid;
  overflow: auto;
  padding-left: 10px;
}
