.nav-link {
  transition: all 0.2s ease-in-out;
}

.nav-link:hover {
  /* color: rgb(68, 0, 255); */
  box-shadow: 0 5px 15px rgba(227, 252, 0, 0.4);
  /* font-size: 1.1em; */
}

@media only screen and (max-width: 859px) {
  .navbar {
    width: 100%;
  }
  .container {
    margin: 0;
  }
  /* td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } */
}
