.nav-link {
  transition: all 0.2s ease-in-out;
}

.nav-link:hover {
  /* color: rgb(68, 0, 255); */
  box-shadow: 0 5px 15px rgba(227, 252, 0, 0.4);
  /* font-size: 1.1em; */
}

.menu {
  position: relative;
}

.submenu2 {
  position: absolute;
  width: 140px;
  left: 100%;
  top: 45%;
  background-color: white;
  display: none;
}

.submenu3 {
  position: absolute;
  width: 140px;
  left: 100%;
  top: 50%;
  background-color: white;
  display: none;
}

.menu li:hover > .submenu {
  display: block;
}

.submenu li:hover > .submenu2,
.submenu li:hover > .submenu3 {
  display: block;
}

@media only screen and (max-width: 859px) {
  .navbar {
    width: 100%;
  }
  .container {
    margin: 0;
  }
  /* td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } */
}
