<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c594d2df83.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="/css/arithmetic-styles.css"> -->
    <link rel="stylesheet" href="/css/navbar-styles.css">
     <link rel="icon" href="/images/favicon.ico?v=1.1">
    <title>Science</title>
</head>
<body>
    <div class="container">
        <h1>Free Trial Form</h1>
        <p>Before you fill in the form, you may first want to read our rules and regulations.</p>
    </div>
    <div class="container">
    <form action="/trial/form" method="post">
        <div class="mb-3">
          
          <label for="outlet" class="form-label">Outlet</label>
          <select class="form-select" aria-label="Default select example">
            <option selected>Choose</option>
            <option value="1">Toa Payoh</option>
            <option value="2">Hougang</option>
            <option value="3">Private</option>
          </select>
        </div>
            <div class="mb-3">
              <label for="childName" class="form-label">Child's name</label>
              <input type="text" class="form-control" id="childName">
            </div>
            <div class="mb-3">
                <label for="childSurname" class="form-label">Child's surname</label>
                <input type="text" class="form-control" id="childSurname"> 
           </div>
           <div class="mb-3">
            <label for="parentName" class="form-label">Parent's name</label>
            <input type="text" class="form-control" id="parentName">
            <!-- <div id="parentName" class="form-text">We'll never share your email with anyone else.</div> -->
          </div>
          <div class="mb-3">
              <label for="parentSurname" class="form-label">Parent's surname</label>
              <input type="text" class="form-control" id="parentSurname">
         </div>
    
            <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>
 
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</html>